*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva,sans-serif;
}

body{

    background-color:FloralWhite;
    color:DarkSlateGray;

}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:White;
    padding:18px 70px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.logo h2{
    color:Chocolate;
    font-size:28px;
    font-weight:700;
}

.logo p{
    color:Gray;
    font-size:13px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:DarkSlateGray;
    font-weight:500;
    transition:0.3s;
}

.nav-links a:hover{
    color:Chocolate;
}
/* ================= Hero Section ================= */

.hero{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:80px;

}
.hero-content{

    background-color:White;

    width:55%;

    padding:40px;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,0.08);

}
.hero-tag{
    display:inline-block;
    background-color:Beige;
    color:Chocolate;
    padding:8px 18px;
    border-radius:30px;
    font-size:14px;
    margin-bottom:20px;
}
.hero-content h1{
    font-size:45px;
    margin-bottom:20px;
}
.hero-text{
    color:Gray;
    line-height:1.8;
    margin-bottom:30px;
}
.hero-buttons{
    display:flex;
    gap:15px;
}
.primary-btn{
    background-color:Chocolate;
    color:White;
    border:none;
    padding:14px 28px;
    border-radius:10px;
    cursor:pointer;
}
.secondary-btn{
    background-color:White;
    color:Chocolate;
    border:2px solid Chocolate;
    padding:14px 28px;
    border-radius:10px;
    cursor:pointer;
}
.hero-cards{
    display:grid;
    gap:20px;
}
.mini-card{
    background-color:White;
    padding:25px;
    border-radius:15px;
    width:220px;
    text-align:center;
    font-weight:bold;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s;

}
.mini-card:hover{
    transform:translateY(-5px);
}

.about{
    padding:80px;
}

.about-container{
    background-color:White;
    padding:40px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
    text-align:center;
}

.about-container h2{
    color:Chocolate;
    margin-bottom:20px;
    font-size:35px;
}

.about-container p{
    color:Gray;
    line-height:1.8;
    width:80%;
    margin:auto;
}

.features{
    padding:80px;
    text-align:center;
}

.features h2{
    font-size:35px;
    color:Chocolate;
    margin-bottom:50px;
}

.feature-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.feature-card{
    background-color:White;
    padding:30px;
    border-radius:18px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
    transition:0.3s;
}

.feature-card:hover{
    transform:translateY(-8px);

}
.feature-card h3{
    margin-bottom:15px;
}

.feature-card p{
    color:Gray;
    line-height:1.6;
}

footer{
    background-color:Chocolate;
    color:White;
    text-align:center;
    padding:20px;
    margin-top:50px;
}
html{
    scroll-behavior: smooth;
}