*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color:FloralWhite;
    color:DarkSlateGray;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:White;
    padding:18px 70px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.logo h2{
    color:Chocolate;
    font-size:28px;
    font-weight:700;
}

.logo p{
    color:Gray;
    font-size:13px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:DarkSlateGray;
    font-weight:500;
    transition:0.3s;
}

.nav-links a:hover{
    color:Chocolate;
}
footer{
    background-color:Chocolate;
    color:White;
    text-align:center;
    padding:20px;
    margin-top:50px;
}

.login-section{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:70px 20px;
}

.login-card{
    width:500px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.login-card h1{
    text-align:center;
    color:Chocolate;
    margin-bottom:15px;
}

.login-card p{
    text-align:center;
    color:Gray;
    margin-bottom:30px;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    margin-top:15px;
    margin-bottom:8px;
    font-weight:bold;
}

input{
    padding:14px;
    border:1px solid Gainsboro;
    border-radius:10px;
    font-size:16px;
    outline:none;
}

input:focus{
    border:2px solid Chocolate;
}

button{
    margin-top:30px;
    width:100%;
    background:Chocolate;
    color:white;
    border:none;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    font-size:17px;
    transition:0.3s;
}

button:hover{
    background:SaddleBrown;
}

.register-link{
    margin-top:25px;
    text-align:center;
}

.register-link a{
    color:Chocolate;
    text-decoration:none;
    font-weight:bold;
}

.register-link a:hover{
    text-decoration:underline;
}